/*
 Copyright 2016 Daniel Brown.
 All rights reserved.
 */

html {
    position: relative;
    min-height: 100%;
}

#content {
    margin-bottom: 60px;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.footer .container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.current-mp3 {
    background-color: #d9edf7 !important;
}

#nav-signed-in {
    display: none;
}

#nav-signed-out {
    display: none;
}

#loading-animation {
    visibility: hidden;
    -animation: spin .7s infinite linear;
    -o-animation: spin2 .7s infinite linear;
    -moz-animation: spin3 .7s infinite linear;
    -webkit-animation: spin4 .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-o-keyframes spin2 {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@-moz-keyframes spin3 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin4 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#alert {
    display: none;
}