<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="title">{{ title }}</span>
    </mat-toolbar>
    <div *ngIf="user; else nouser">
      <p>Username: {{ user.name }}</p>
      <button mat-button (click)="getPlaylists()">Load playlists</button>
      <h2>Playlists</h2>
      <mat-accordion class="headers-align">
        <mat-expansion-panel *ngFor="let playlist of playlists">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ playlist.title }}</mat-panel-title>
            <mat-panel-description>{{ playlist.tracks.length }} Tracks</mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let track of playlist.tracks">{{ track.title }}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <ng-template #nouser>
      <div>You're not logged in yet...</div>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
